.market-categories{
    padding: 10px;
}


.card{
    margin: 5px;
}

.scroll {
    max-height: 90vh;
    background-color: Gold;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    flex: 1;
    
    
    
}

.card-img-top{
    max-height: 120px;
    margin-top: 5px;
    width: auto;
}

.card-title{
    text-align: center;
    text-wrap: auto;
}


.addToCartBttn {
    background-color: var(--Green);
    display: block;
    position: absolute;
    width: 40px;
    height: 35px;
    bottom: 10px;
    right: 10px;
}

.market-categories{
    background-color: var(--Beige);
}